<section data-ng-controller="CarsController" data-ng-init="find()">
	<div class="page-header">
		<h1>Latest Cars</h1>
	</div>
	
<div class="row car" ng-repeat="car in cars">
	<div class="col-md-3">
		<img class="img-thumbnail" src="http://bestcarmag.com/sites/default/files/6174081toyota-camry-6.jpg">
	</div>
	<div class="col-md-9">
		<h3>{{car.title}}</h3>
		<ul>
			<li>{{car.make}}</li>
			<li>{{car.year}} {{car.model}}</li>
			<li>{{car.price | currency}}</li>
		</ul>
		<a href="/#!/cars/{{car._id}}">View details</a>
	</div>
</div>

</section>